body {
    background: whitesmoke;
}

a {
    text-decoration: none;
    color: dodgerblue;
}

.header {
    text-align: center;
}

.header h1 {
    margin: 0;
}

.games-container {
}

.game-container {
    box-shadow: 1px 4px 8px silver;
    box-sizing: border-box;
    border-radius: 4px;
    background: white;
}

.game-title {
    margin: 0;
}

.game-image {
    width: 100%;
    aspect-ratio: 4 / 3;
}

.game-description {
    margin: 0;
}

.footer {
    margin-top: 6rem;
    margin-bottom: 2rem;
    text-align: center;
}

@media screen and (max-width: 959px) {
    .container {
        max-width: 600px;
        margin: auto;
    }

    .header {
        margin-top: 30px;
    }

    .header h1 {
        font-size: 24px;
    }

    .games-container {
        margin-top: 30px;
    }

    .game-container {
        padding: 28px 24px;
        width: 90%;
        margin: auto;
    }

    .game-container:nth-of-type(n+2) {
        margin-top: 28px;
    }

    .game-title {
        font-size: 20px;
    }

    .game-image {
        margin-top: 24px;
    }

    .game-description {
        margin-top: 24px;
    }
}

@media screen and (min-width: 960px) {
    .container {
        width: 960px;
        margin: auto;
    }

    .header {
        margin-top: 80px;
    }

    .games-container {
        margin-top: 80px;
        display: flex;
        flex-wrap: wrap;
    }

    .game-container {
        padding: 0 16px;
        width: calc((100% - 64px) / 3);
        height: 360px;
    }

    .game-container:not(:nth-of-type(3n)) {
        margin-right: 32px;
    }

    .game-container:nth-of-type(n+4) {
        margin-top: 32px;
    }

    .game-title {
        margin-top: 24px;
        font-size: 16px;
    }

    .game-image {
        margin-top: 16px;
    }

    .game-description {
        margin-top: 16px;
    }
}
