.container {
    max-width: 800px;
    margin: auto;
}

.header {
    border-bottom: 1px solid lightgray;
    padding: 1rem 0 0.5rem;
}

.brand {
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand img {
    display: block;
    height: 4rem;
    margin-right: 1rem;
}

.brand h1 {
    font-size: 150%;
    font-weight: normal;
    margin: 0;
}

.section {
    margin: 2rem 0;
    padding: 0 0.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: justify;
}

.section p {
    max-width: 600px;
}

.my-name {
    text-align: center;
}

.my-icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 2rem 0;
}

.list-container {
    text-align: left;
}

.footer {
    border-top: 1px solid lightgray;
    margin-top: 4rem;
    padding: 2rem 0 4rem;
    text-align: center;
}
